::-webkit-scrollbar {
    background-color: transparent;
    display: none;
}

.randomDialog {
    width: 40vw;
    height: 100vh;
}

.dialog-content {
    margin-top: 5%;
}

.dialog-content li {
    list-style: none;
    background-color: rgb(249, 255, 253);
    margin-bottom: 4px;
    padding: 0px 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dialog-footer {
    align-items: center;
    width: 100%;
    position: relative;
    bottom: 0;
    right: 0;
}

.dialog-footer .footer-btn {
    margin-right: 0%;
    margin-top: 1%;
    float: right;
}

.calendar-dialog {
    width: 30vw;
}

.selectSongDialog {
    width: 50%;
    height: 100vh;
}

.dialog-content-style {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.songsTable {
    margin: 0;
    padding: 0;
}

.cm-footer-dialog-style {
    display: flex;
    justify-content: flex-end;
    height: 10%;
    align-items: center;
    z-index: 1;
    margin-right: 1rem;
    margin-bottom: .5rem;
}



.contentDialogStyle {
    background-color: #000;
}

.headerDialogStyle {
    background-color: #000;
    color: #fff;
}


@media screen and (max-width: 768px) {
    .randomDialog {
        width: 90vw;
        height: 90vh;
        background-color: #000;
    }

    .dialog-footer {
        position: absolute;
        bottom: 0;
        width: 93%;
        margin-bottom: 15px;
        left: 0;

    }

    .calendar-dialog {
        width: 90vw;
    }

    .selectSongDialog {
        width: 95%;
    }

    .dialog-content-style {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}